@media screen and (max-width: 991px ) {
  html {
    font-size: 10px;
  }
  main {
    padding-left: 3rem;
    padding-right: 3rem;
    & h1 {
      font-size: 4rem;
      & strong {
        border-width: 5px;
      }
    }
  }
  .container-info, .container-card {
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #services img.img-avatar {
    max-width: 20rem;
    margin: 0 auto 3rem;
  }
  #services h2.intro {
    text-align: center;
    padding: 0;
  }
  .card {
    padding: 3rem 3rem 4rem;
    & h2 {
      font-size: 2.5rem;
    }
  }
  .card + .card {
    border-top-width: 0;
  }
  #wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #scroller {
    width: 2005px;
    & ul li {
      flex: 0 0 250px;
    }
  }
  footer .container {
    flex-direction: column;
  }
}

@media screen and (min-height: 720px) and (max-height: 900px) {
  main h1 {
    font-size: 5rem;
  }
}