* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

body {
  font-family: "Barlow", sans-serif;
  overflow-x: hidden;
}
header {
  position: absolute;
  width: 100%;
  padding: 2rem 0;
  & .container > div, & .container ul {
    flex: 0 0 50%;
  }
  & #logo {
    animation: .5s intro ease;
    grid-column: 1/2;
    font-weight: 700;
    color: white;
    font-size: 2rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-top: .25rem;
    & img {
      width: 250px;
    }
  }
  & ul {
    grid-column: 2/3;
    padding: 0;
    text-align: right;
    list-style: none;
    & li {
      display: inline-block;
      animation: .5s intro ease;
      margin-left: 2rem;
    }
    & li:first-child {
      margin-left: 0;
    }
    & li a {
      color: white;
      font-size: 2rem;
    }
  }
}
.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 3rem;
  display: flex;
}
.wrap {
  position: relative;
}
.container.col-flex {
  display: flex;
}
.col-flex {
  display: flex;
}
main {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  background: $color-text;
  & .container {
    flex-direction: column;
  }
  & h1 {
    animation: .5s intro ease;
    font-size: 5rem;
    color: white;
    font-weight: 800;
    display: inline-block;
    margin-bottom: 3rem;
    margin-top: 8vh;
    position: relative;
    font-family: "Space Grotesk", sans-serif;
    letter-spacing: -1px;
    line-height: 1.2;
    & strong {
      font-weight: 700;
      color: $color1;
      display: none;
      &:first-child {
        opacity: 0;
      }
    }
  }
  & p {
    color: white;
    font-size: 1.5rem;
    line-height: 1.5;
    max-width: (30 * 1.5rem);
  }
}

section {
  padding: 4rem 0;
}
.img-fluid {
  display: block;
  max-width: 100%;
}
.container-card {
  margin-top: 5rem;
}
.card {
  padding: 3rem;
  border: 2px solid $color-text;
  background: white;
  flex: 0 0 50%;
  & h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family: "Space Grotesk", sans-serif;
    color: $color1;
  }
  & p, & ul li {
    font-size: 1.75rem;
  }
  & ul {
    margin-top: 1rem;
  }
}
#services {
  position: relative;
  & img.img-avatar {
    border-radius: 50%;
    max-height: 220px;
  }
  & h3.intro {
    font-size: 2.5rem;
    padding-left: 5rem;
    font-family: "Space Grotesk", sans-serif;
    flex-direction: column;
    justify-content: center;
    display: flex;
    max-width: 1000px;
  }
}
.portfolio-item {
  color: white;
  & a {
    color: white;
    text-decoration: none;
  }
  & img {
    display: block;
    max-width: 100%;
  }
  & h3 {
    font-weight: 700;
    font-size: 1.8em;
    font-family: "Space Grotesk", sans-serif;
  }
  & h4 {
    font-size: 1.25rem;
    color: #787878;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }
  & a.btn-link {
    &:hover i {
      color: $color1;
    }
  }
}
#clients {
  overflow: hidden;
  background: $color1;
  & .container {
    flex-direction: column;
  }
  & h2 {
    font-size: 3rem;
    color: white;
    margin-bottom: 1rem;
    font-family: "Space Grotesk", sans-serif;
  }
  & p {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    max-width: 30 * 1.5rem;
  }
}
#wrapper {
  width: 100%;
  &.container {
    flex-direction: row;
  }
}
#wrapper ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.portfolio-item {
	flex: 0 0 32%;
  padding: 4rem;
  background: $color-text;
	font-size: 14px;
  margin-bottom: 2rem;
}

#phrases {
  background: white;
  color: $color-text;
  & img {
    border-radius: 50%;
  }
  & h2 {
    grid-column: 1/-1;
    font-size: 4rem;
  }
}

#brands {
  background: $color-text;
  color: #fff;
  & h2, ul {
    grid-column: 1 / -1;
  }
  & h2 {
    background-color: $color-text;
    font-size: 3rem;
    background: $color1;
    font-weight: 800;
    margin-bottom: 5rem;
    text-align: center;
  }
  & ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    & li {
      border: 2px solid white;
      min-height: 200px;
      display: flex;
      margin-top: -1px;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
    & li:first-child {
      margin-left: 0;
    }
    & li img {
      max-width: 250px;
      max-height: 65px;
      margin: 0 auto;
      display: block;
    }
  }
}
footer {
  padding: 4rem 0;
  & .container div {
    flex: 0 0 50%;
    padding-right: 10%;
    &  p {
      font-size: 3rem;
    }
  }
}
footer p {
  & a {
    color: $color-text;
    text-decoration: none;
    position: relative;
    font-weight: 500;
    transition: all 0.2s ease;
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 5px;
      background: $color1;
      top: 100%;
      left: 0;
      transition: all 0.2s ease;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      transition: all 0.2s ease;
    }
    &:hover:after {
      height: 100%;
      top: 0;
      transition: all 0.2s ease;
    }
  }
  &.copyright {
    margin-top: 2rem;
  } 
}
.cookies {
  position: fixed;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  animation: .5s intro ease;
}
.cookie-box {
  pointer-events: all;
  max-width: 50rem;
  background: white;
  border: 3px solid #000;
  margin-bottom: 2rem;
  padding: 2rem;
  text-align: center;
  align-self: flex-end;
  & p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    font-weight: 500;
  }
  .buttons-choice {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  & a.button-cookie-choice {
    border: 2px solid #aaa;
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
    padding: 1rem 3rem;
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  & a.button-cookie-choice:last-child {
    background: #222;
    margin-left: 1.5rem;
    color: white;
    border-color: transparent;
  }
}

.load {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: $color1;
  z-index: 10000;
}
