html {
  font-size: $font-size;
}

body {
  font-family: 'Barlow', sans-serif;
  font-size: $font-size * 1.3;
  color: $text-color;
  line-height: 1.5;
}

p {
  margin: 0 0 $font-size;
}

h1 {
  color: #0d44ad;
  font-family: 'Krona One', sans-serif;
  font-size: 2.5rem;
}